<div class="links">
	<div class="links-container">
		<a href="/merc">首页</a> | 
		<% unless current_customer %>
			<%= link_to '商家登录', new_customer_session_path %> | 
		<% end %>
		<a href="/help">帮助</a> | 
		<a href="/about">关于我们</a>
	</div>
</div>