.sidebar-nav {padding:9px 0;}

.nav .nav-header {  
	font-size: 18px;  
	color:#FF9900;  
}

.form-div{
	margin-top:20px;
	padding-top:10px
}

footer{
	border-top: 1px solid #eaeaea;
	margin-top:20px;
	color:#999;
	padding-top:6px;
	ul.footer-ul{
		float:right;
		list-style:none;
		li{
			float:left;
			margin-left:10px;
		}
	}
}

.form-horizontal input[type="text"], .form-horizontal select, 
	.form-horizontal textarea
{
	margin-bottom:9px;
}

#error_explanation{
	color:#f00;
	ul {
		list-style:none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors{
	@extend .control-group;
	@extend .error;
}
.ticket-detail-info {
	div{
		margin-top:20px;
	}
	
}

.ticket-detail-info p span{
	font-size:12px;
	font-weight:bold;
}

.ticket-detail-info p span.t{
	padding-left:35px;
}

