.customer-form{
	margin-top: 25px;
	img{
		margin: 0 auto;
		display: block;
		width:219px;
		height:70px;
		margin-bottom:10px;
	}
	.form {
		background:url('form-bg.png');
		width: 700px;
		margin: 0 auto;
		height: 347px;
		padding-top:60px;
		form {
			margin-left: 100px;
			
			legend,.flash{

				width: 300px;
				margin-left: 100px;
			}
		}
	}
}

.links{
	position: fixed;
	bottom: 0;
	height: 40px;
	line-height:40px;
	color: white;
	border-top: 2px solid white;
	width: 100%;
	background: #3a3a3a;
	
	.links-container{
		width: 900px;
		margin:0 auto;
		text-align:right;
	}
	a{
		color:white;
	}
}

#header{
	padding: 20px 0;
	margin: -60px 0 30px 0;
	border-bottom: 1px solid white;
}

