<footer>
	<div class="container">
		<p class="pull-left">Copyright 2012 刮刮乐</p>
		<ul class="footer-ul">
			<!-- <li><%= link_to '商家后台登录入口', '#' %></li> -->
			<li><%= link_to '加入推广计划', '#' %></li>
			<li><%= link_to '隐私权和使用条款', '#' %></li>
			<li><%= link_to '关于我们', '#' %></li>
		</ul>
	</div>
</footer>